In [1]:
!pip install wikipedia

Requirement already satisfied: wikipedia in /home/sukhdeep/.local/lib/python3.7/site-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in /home/sukhdeep/.local/lib/python3.7/site-packages (from wikipedia) (4.8.0)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/sukhdeep/anaconda3/lib/python3.7/site-packages (from wikipedia) (2.22.0)
Requirement already satisfied: soupsieve>=1.2 in /home/sukhdeep/.local/lib/python3.7/site-packages (from beautifulsoup4->wikipedia) (1.9.3)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/sukhdeep/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/sukhdeep/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/sukhdeep/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in /home/sukhdeep/anaconda3/lib/python3.7/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)

In [2]:
import wikipedia
import re
import pandas as pd

### Topic 1 is sports, and Topic 2 is Computer programming

Here we search the wikipedia page for the topic name and also fetch all of the links in a list to create out document

In [3]:
sport=wikipedia.page("Sport").content
links=wikipedia.page("Sport").links

In [4]:
pedu=wikipedia.page("Computer programming").content
plinks=wikipedia.page("Computer programming").links

Here we iterate over the list of topic links fetched for Sports and Computer programming respectively. Aim is concatenate the content from multiple pages into a single source to reach the desired word count of 50000 words.

In [5]:
for i in links[:10]:
  try:
    c = wikipedia.page(i).content
    sport = sport + c
  except:
    pass

In [6]:
for i in plinks[:20]:
  try:
    d = wikipedia.page(i).content
    pedu = pedu + d
  except:
    pass

Here I am replacing the wikipedia segments into the standard choi notation, how this regex works:

- We first replace all wikipedia segments with === sign
- Then we proceed to replace all the wikipedia segments with == 

Key finding and tweaks: Some of the wikipedia segments have multiple words within == or  === signs in order to accomodate for that we search for more than one occurence of any character as denoted by *.+* sign

In [7]:
sport = re.sub(r"(===\s(.+)\s===)", "==========", sport)
sport = re.sub(r"(==\s(.+)\s==)", "==========", sport)

In [8]:
pedu = re.sub(r"(===\s(.+)\s===)", "==========", pedu)
pedu = re.sub(r"(==\s(.+)\s==)", "==========", pedu)

Function to remove any punctuations from text

In [34]:
# define punctuation remover

def punctuation_remover(my_str):

    punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''

    # remove punctuation from the string
    no_punct1 = ""
    for char in my_str:
       if char not in punctuations:
           no_punct1 = no_punct1 + char


    return no_punct1

In [10]:
sport = punctuation_remover(sport)
pedu=punctuation_remover(pedu)

In [28]:
with open('programming.txt','w') as f:
  f.write(pedu)

In [29]:
with open('sport.txt','w') as f:
  f.write(sport)

Creating a data frame for our text files

In [13]:
sport2 = sport.split("==========")

df1  = pd.DataFrame(sport2)

In [14]:
pedu2 = pedu.split("==========")

df2  = pd.DataFrame(pedu2)

Removing unwanted newline characters from the dataframes

In [15]:
df1 = df1[df1[0]!='\n\n\n']
df2 = df2[df2[0]!='\n\n\n']

In [33]:
df1.head()

                                                   0
0  Sport includes all forms of competitive physic...
2  \nThe word sport comes from the Old French des...
3  \nThe singular term sport is used in most Engl...
4  \n\nThe precise definition of what separates a...
5  \nThere are opposing views on the necessity of...

In [32]:
df2.head()

                                                   0
0  Computer programming is the process of designi...
1  \n\nProgrammable devices have existed at least...
3  \nWhatever the approach to development may be ...
4  \nIn computer programming readability refers t...
5  \nThe academic field and the engineering pract...

Mixing the segments of both the data frames in the form doc1_seg1 doc2_seg1 doc1_seg2 doc2_seg2

In [25]:
mylist=" "

for i in range(200):
    
    try:
        mylist=mylist+(df1[0][i]+"\n==========\n")
    except:
        pass
    
    try:
        
        mylist=mylist+(df2[0][i]+"\n==========\n")
        
    except:
        
        pass

Checking to see if we have satisfied the required words

In [31]:
# print(mylist)

len(mylist.split(" "))

53671

Saving the composite text file

In [27]:
with open('composite.txt','w') as f:
  f.write(mylist)